extends layout 

block content
  div.new-message-container 
    div.new-message-box
      h1= title
      p Add your new post here:
      form(class="new-message-form" method="POST" action=`/catalog/user/dashboard/new_message/${userDetails.username}`)
        input(class="new-message-title-input" type="text" name="title" placeholder="Title" required)
        label(for="text") Message:
        textarea#text(class="new-message-text-input" name="text" placeholder="" required)
        input(class="new-message-submit-btn" type="submit" value="Submit")

  if errors 
    ul 
      for error in errors 
        li!= error.msg 