
/* LAYOUT */
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/* INDEX */

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}